@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background-image: url(../img/bannerDragonball2.jpg);
  background-size: cover;
  height: -40px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card img {
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  object-fit: contain;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.card .card-title {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.card-text {
  display: flex;
  justify-content: center;
}

span {
  color: rgb(248, 128, 15);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(252, 245, 225);
}
